/*
██ ██   ██  █████  ███    ███ ██ ██████   ██████  ██████  ███    ███     
██  ██ ██  ██   ██ ████  ████ ██ ██   ██ ██      ██    ██ ████  ████     
██   ███   ███████ ██ ████ ██ ██ ██████  ██      ██    ██ ██ ████ ██     
██  ██ ██  ██   ██ ██  ██  ██ ██ ██   ██ ██      ██    ██ ██  ██  ██     
██ ██   ██ ██   ██ ██      ██ ██ ██   ██  ██████  ██████  ██      ██ on GitHub : https://github.com/ixAmirCom
*/
body {
    text-align:center;
    background-color: rgb(255, 47, 47);
    font-family: helvetica;
  }
  canvas {
    border: 2px solid rgb(38, 35, 35);
  }